@using Shared.Models
@model Animal

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details from @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Image" width="100" height="100">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HelpedTheirPrivateParts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HelpedTheirPrivateParts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CanBeWithKids)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CanBeWithKids)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a> |
    <a asp-action="ShowInterest" asp-route-id="@ViewBag.id">Toon intresse</a>
</div>
